#if ($first__)
#parse("header_status.vm")
#end

<tr><td class="title" colspan="2">$T.getAlias()</td></tr>
#devicestatus($D '' 1)
#tcpstatus($D '')
#batterystatus($D '')
#sessionstatus($D '')

#if ($last__)
#parse("footer_status.vm")
#end
